.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-drawer {
  border-top-right-radius: 0;
}

.sidenav-container {
  flex: 1;
  margin-top: 64px;
}
